
.user_dashboard_card_profile_image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transform: translate(0, 50%);
  align-self: center;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
}

.user_dashboard_card_profile_email {
  margin-top: 10px;
  color: rgb(141, 141, 141);
}

.user_dashboard_card_profile_date {
  margin-top: 10px;
  font-size: 14px;
} 

.user_dashboard_container {
  padding: 70px 150px;
  display: grid;
  column-gap: 5%;
  row-gap: 70px;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 300px 50px 200px 200px; */
  grid-template-rows: 300px 200px 200px;
}

.user_dashboard_card {
  background-color: whitesmoke;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(206, 206, 206); */
  box-shadow: rgba(0, 0, 0, 0.05) 0 10px 10px -5px;
}

.user_dashboard_card_content {
  height: 100%;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  border-left: 1px solid rgb(206, 206, 206);
  border-right: 1px solid rgb(206, 206, 206);
  border-bottom: 1px solid rgb(206, 206, 206);
}

.user_dashboard_card_profile {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  border: 0px;
  margin-top: -100px;
}

.user_dashboard_card_profile_content {
  background-color: whitesmoke;
  flex: 1;
  padding-top: 100px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
}

.grid_item_extra_wide {
  grid-column: 1/4;
}

.grid_item_wide {
  grid-column: 1/3;
  /* grid-row: 3/5; */
  grid-row: 2/4;
  padding: 30px;
  display: block;
  border: 1px solid rgb(206, 206, 206);
}

.user_dashboard_card_header {
  padding: 20px;
  background-color: var(--secondary);
  color: white;
}

.user_dashboard_module_progress_container {
  text-align: center;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

.user_dashboard_module_progress_container:hover {
  background-color: rgb(100, 100, 100);
}

.user_dashboard_module_progress_container:hover > h4 {
  color: white;
}

.user_dashboard_progress_bar_outer {
  stroke: rgb(236, 236, 236);
  fill: none;
  stroke-width: 15px;
}

.user_dashboard_progress_bar {
  fill: none;
  stroke-width: 5px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  stroke: var(--green);
}